dialogue.tab
out/temp/dialogue.tab
out/rpy/dialogue.rpy
out/xlsx/dialogue.xlsx
__pycache__
dist/window
dist/out/rpy/.gitkeep
dist/out/rpy/dialogue.rpy
dist/out/temp/.gitkeep
dist/out/xlsx/.gitkeep
dist/out/xlsx/dialogue.xlsx
build/window/Analysis-00.toc
build/window/base_library.zip
build/window/EXE-00.toc
build/window/PKG-00.toc
build/window/PYZ-00.pyz
build/window/PYZ-00.toc
build/window/Tree-00.toc
build/window/Tree-01.toc
build/window/warn-window.txt
build/window/window.pkg
build/window/xref-window.html
build/window/localpycos/struct.pyo
